# HCC data assighnment

In [ ]:
import pandas as pd

In [ ]:
import seaborn as sns

In [ ]:
import numpy as np

# Q1 Importing dataset

In [ ]:
df = pd.read_csv('/content/Test_DataCore.csv')
# CREATE TABLE PATIENT(
#     PATIENT_ID VARCHAR(255),
#     VISIT_ID VARCHAR(255),
#     ADMISSION_DATE DATE,
#     DISCHARGER_DATE DATE,
#     CLINIC_CODE VARCHAR(255),
#     BIRTHDATE DATE,
#     SEX VARCHAR(255),
#     RACE VARCHAR(255),
#     DATE_OF_BIRTH DATE,
#     VISIT_ACTIVATION_DATE_TIME DATE,
#     DISCHARGE_TYPE VARCHAR(255),
#     FACILITY VARCHAR(255),
#     VISIT_STATUS VARCHAR(255),
#     PRIMARY_KEY (PATIENT_ID))

# COPY PATIENT (PATIENT_ID, VISIT_ID, ADMISSION_DATE, DISCHARGE_DATE, CLINIC_CODE, 
#     BIRTHDATE, SEX, RACE, DATE_OF_BIRTH, VISIT_ACTIVATION_DATE_TIME, DISCHARGE TYPE,
#     FACILITY, VISIT_STATUS)
# FROM 'C:/MIKE C/DOWNLOADS/TestDatacore.csv' 
# DELIMITER ',' HEADER PATIENT DATA

In [ ]:
df.head(5)
## Looking at data

   PATIENT_ID    VISIT_ID  ...    FACILITY       VISIT_STATUS
0      819392   393056076  ...  Facility A  closed discharged
1      819392  1058555571  ...  Facility A         discharged
2      819392  1059883796  ...  Facility A         discharged
3      819392  1063747314  ...  Facility A         discharged
4      819392  1081404139  ...  Facility A         discharged

[5 rows x 13 columns]

In [ ]:
df.iloc[19]
# looking at a row of data

PATIENT_ID                       2205504
VISIT_ID                       407383468
ADMISSION_DATE                 29-Aug-02
DISCHARGE_DATE                 30-Aug-02
CLINIC_CODE                          884
BIRTHDATE                       4-Jul-82
SEX                                 Male
RACE                            Hispanic
DATE_OF_DEATH                        NaN
VISIT_ACTIVATION_DATE_TIME     29-Aug-02
DISCHARGE_TYPE                   routine
FACILITY                      Facility A
VISIT_STATUS                  discharged
Name: 19, dtype: object

In [ ]:
df.columns
# looking at the column names

Index(['PATIENT_ID', 'VISIT_ID', 'ADMISSION_DATE', 'DISCHARGE_DATE',
       'CLINIC_CODE', 'BIRTHDATE', 'SEX', 'RACE', 'DATE_OF_DEATH',
       'VISIT_ACTIVATION_DATE_TIME', 'DISCHARGE_TYPE', 'FACILITY',
       'VISIT_STATUS'],
      dtype='object')

In [ ]:
from numpy.ma.extras import unique
x = [df[df['PATIENT_ID'] == unique]]

In [ ]:
list(set(df))

['BIRTHDATE',
 'SEX',
 'RACE',
 'PATIENT_ID',
 'VISIT_ACTIVATION_DATE_TIME',
 'VISIT_STATUS',
 'DATE_OF_DEATH',
 'VISIT_ID',
 'CLINIC_CODE',
 'FACILITY',
 'DISCHARGE_DATE',
 'DISCHARGE_TYPE',
 'ADMISSION_DATE']

# Q2 Patients in dataset

In [ ]:
print(df['PATIENT_ID'].value_counts())
# SELECT COUNT (DISTINCT PATIENT_ID)
# AS UNIQUE_ID
# FROM PATIENT

## There are 80 patients in the table
## looking at unique patients

37026752    922
52263456    679
56819168    547
35764288    460
12137440    448
           ...
62105792      3
9075808       3
66174752      2
46070080      2
12728352      1
Name: PATIENT_ID, Length: 80, dtype: int64

# Q3 Patients that died

In [ ]:
patients_dead = df[df['DATE_OF_DEATH'].notnull()]
print(df['DATE_OF_DEATH'].value_counts())
# filtered for only unique values

2015-02-25    205
2015-07-02     94
2015-07-10     17
2015-09-17     16
Name: DATE_OF_DEATH, dtype: int64

In [ ]:
patients_dead.count
# SELECT COUNT(DATE_OF_DEATH)
# FROM PATIENT
# WHERE DATE_OF_DEATH IS NOT NULL

## There are 4 deaths in the table
## looking at all values

<bound method DataFrame.count of       PATIENT_ID    VISIT_ID  ...    FACILITY       VISIT_STATUS
0         819392   393056076  ...  Facility A  closed discharged
1         819392  1058555571  ...  Facility A         discharged
2         819392  1059883796  ...  Facility A         discharged
3         819392  1063747314  ...  Facility A         discharged
4         819392  1081404139  ...  Facility A         discharged
...          ...         ...  ...         ...                ...
3509    30172352  1166088673  ...  Facility A         discharged
3510    30172352  1192919805  ...  Facility A         discharged
3511    30172352  1192956705  ...  Facility A         discharged
3512    30172352  1196306346  ...  Facility A         discharged
3513    30172352  1198522104  ...  Facility A         discharged

[332 rows x 13 columns]>

# Q4 Merging data

In [47]:
df2 = pd.read_csv('/content/Test_DataCore_VitalStats.csv')

# CREATE TABLE ADDITIONAL_PATIENT_DATA (
#     PATIENT_ID INT,
#     DATE_OF_DEATH DATE)
#
# COPY ADDITION_PATIENT_DATA (PATIENT_ID, DATE_OF_DEATH)
# FROM 'C:/MIKE C/DOWNLOADS/TestDatacore.csv' CSV
# DELIMITER ',' HEADER PATIENT DATA

## importing the next table

In [48]:
df2.head(5)
# looking at the top 5 results

   PATIENT_ID DATE_OF_DEATH
0      819392     10JUL2015
1    15150240     15NOV2015
2    28438144     02JUL2015
3    28653184     30OCT2015
4    30041536     25FEB2015

In [49]:
df3 = pd.concat([df,df2], axis=0)
# SELECT PATIENT_ID, DATE_OF_DEATH
# FROM PATIENT
# FULL JOIN PATIENT_DEATH_DATES
# ON PATIENT.PATIENT_ID = PATIENT_DEAT_DATES.PATIENT_ID

## JOINING TABLES

In [50]:
df3
# looking at the new combined datasheet

    PATIENT_ID      VISIT_ID  ...    FACILITY       VISIT_STATUS
0       819392  3.930561e+08  ...  Facility A  closed discharged
1       819392  1.058556e+09  ...  Facility A         discharged
2       819392  1.059884e+09  ...  Facility A         discharged
3       819392  1.063747e+09  ...  Facility A         discharged
4       819392  1.081404e+09  ...  Facility A         discharged
..         ...           ...  ...         ...                ...
93    85254400           NaN  ...         NaN                NaN
94    85384320           NaN  ...         NaN                NaN
95    85620416           NaN  ...         NaN                NaN
96    86567936           NaN  ...         NaN                NaN
97    86708832           NaN  ...         NaN                NaN

[10098 rows x 13 columns]

In [51]:
patients_dead_updated = df3[df3['DATE_OF_DEATH'].notnull()]
print(df3['DATE_OF_DEATH'].value_counts())
# SELECT PATIENT_ID, DATE_OF_DEATH
# FROM PATIENT
# FULL JOIN PATIENT_DEATH_DATES
# ON PATIENT.PATIENT_ID = PATIENT_DEAT_DATES.PATIENT_ID

# filtering for patients that died with updated data

25-Feb-15    205
2-Jul-15      94
10-Jul-15     17
17-Sep-15     16
27OCT2015      6
            ...
04FEB2015      1
15NOV2015      1
18AUG2015      1
29JUL2015      1
22FEB2015      1
Name: DATE_OF_DEATH, Length: 79, dtype: int64

In [52]:
df3['DATE_OF_DEATH'] = pd.to_datetime(df['DATE_OF_DEATH'])
# converting data types

# Q5 How long between last visit and death

In [42]:
df.dtypes
# checking data types some might need to be converted

PATIENT_ID                             int64
VISIT_ID                               int64
ADMISSION_DATE                        object
DISCHARGE_DATE                        object
CLINIC_CODE                          float64
BIRTHDATE                             object
SEX                                   object
RACE                                  object
DATE_OF_DEATH                         object
VISIT_ACTIVATION_DATE_TIME    datetime64[ns]
DISCHARGE_TYPE                        object
FACILITY                              object
VISIT_STATUS                          object
dtype: object

In [57]:
import datetime as dt
diff = (pd.to_datetime(df3.DATE_OF_DEATH) - pd.to_datetime(df3.VISIT_ACTIVATION_DATE_TIME)).dt.days
diff
#SELECT DATEDIFF('DATE_OF_DEATH', 'VISIT_ACTIVATION_DATE_TIME') AS days_between

0     4801.0
1      781.0
2      773.0
3      752.0
4      648.0
       ...
93       NaN
94       NaN
95       NaN
96       NaN
97       NaN
Length: 10098, dtype: float64

# Q6 Distrabution of races

In [ ]:
df['RACE'].value_counts(normalize=True) * 100
# SELECT (COUNT RACE)
# FROM PATIENT
# ORDER COUNT RACE DESC

Black or African American            61.81
Hispanic                             32.95
Other                                 2.61
White                                 1.65
American Indian or Alaskan Native     0.85
Unknown                               0.13
Name: RACE, dtype: float64